h1 Welcome to DIDID

.add-task
  input(type='text', name='new-item-title', id='new-item-title')
  button Add Task

.listing
  each todo in todos
    .task
      input(type='checkbox', data-id=`${todo.id}`, checked='checked')
      span
        span.title(data-id=`${todo.id}`)= todo.title

      a(class='delete', data-id=`${todo.id}`, href='#') Delete

.legend
  div
  | Edit
  div
  | Delete
  div
  | Add
