h1 Welcome to DIDID

.add-task
  input(type='text', name='new-item-title', id='new-item-title')
  button Add Task

.listing
  each todo in todos
    .task
      input(type='checkbox', id=`${todo.id}`, checked='checked')
      span.title= todo.title

      a(class='edit', id=`${todo.id}`, href='#') Edit
      a(class='delete', id=`${todo.id}`, href='#') Delete

.legend
  div
  | Edit
  div
  | Delete
  div
  | Add
